/* for custom element tag for the Angular component */
message-list {
    height: 100%;
}

#message-list-scroller {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    scroll-behavior: smooth;
    overflow-anchor: auto;
}

#message-list {
    padding: 20px;
    gap: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#message-list .message {
    width: fit-content;
    padding: 12px 16px;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#message-list .message code {
    font-size: .875em;
    font-weight: 500;
    padding: .15rem .3rem;
}

#message-list .message p {
    overflow-wrap: break-word;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

#message-list .message pre {
    margin: 0;
}

#message-list .message pre code {
    font-size: 1em;
}

#message-list .message :is(hr, h1, h2, h3, h4, h5, h6) {
    margin: 0.25em 0;
}

#message-list .message[data-turn="user"] {
    max-width: 80%;
    color: var(--pst-color-on-surface);
    background: var(--pst-color-surface);
    align-self: flex-end;
}

#message-list .message[data-turn="assistant"] {
    max-width: 100%;
    color: var(--pst-color-text-base);
}

#message-list .message[data-turn="assistant"] code {
    background: var(--pst-color-surface);
    border-radius: .25rem;
}