#assistant {
    z-index: 3000;
    position: fixed;
    bottom: 120px; /* account for flyout */
    right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#assistant.fullscreen {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(60, 60, 60, 0.45);
}

#assistant-toggle {
    outline: none;
    border: none;
    height: 64px;
    width: 64px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0px;
    right: 0px;
    visibility: visible;
    background-color: #007bff;
    color: white;
}

#assistant-toggle span {
    font-size: 30px;
}

#assistant.active #assistant-toggle {
    visibility: hidden;
}

#assistant-window {
    background: white;
    height: 80vh;
    min-height: 400px;
    width: 40vh;
    min-width: 600px;
    border-radius: 15px;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    transition: all 0.1s ease;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#assistant.fullscreen #assistant-window {
    height: 90vh;
    width: 50vw;
    transform: scale(1);
    margin: auto;
}

#assistant.active #assistant-window {
    visibility: visible;
    pointer-events: auto;
    transform: scale(1);
}

#chat-header {
    background: #1a1a1b;
    min-width: fit-content;
    padding: 16px 0;
    position: relative;
    text-align: center;
    height: fit-content;
}

#chat-header h2 {
    margin: 10px;
    color: #fff;
    font-size: 1.2rem;
}

#chat-header-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#assistant:not(.fullscreen) #chat-minimize {
    display: none;
}

#assistant.fullscreen #chat-maximize {
    display: none;
}

.chat-control-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.1s;
    display: flex;
    color: #ccc;
    border: transparent;
    align-items: center;
    background: transparent;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

.chat-control-button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

#chat-body {
    overflow-y: auto;
    flex: 1 1 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 0;
    margin: 0;
}

#chat-body .chat-message {
    width: fit-content;
    padding: 12px 16px;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#chat-body .chat-message p {
    overflow-wrap: break-word;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

#chat-body .chat-message code {
    font-size: .875em;
    font-weight: 500;
    padding: .15rem .3rem;
    background: #f0f0f0;
    border-radius: 4px;
}

#chat-body .chat-message pre {
    margin: 0;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

#chat-body .chat-message pre code {
    font-size: 1em;
    background: transparent;
    padding: 0;
}

#chat-body .chat-message.incoming code {
    background: #e0e0e0;
}

#chat-body .chat-message :is(hr, h1, h2, h3, h4, h5, h6) {
    margin: 0.25em 0;
}

#chat-body .outgoing {
    max-width: 80%;
    color: white;
    background: #007bff;
    align-self: flex-end;
    border-bottom-right-radius: 2px;
}

#chat-body .incoming{
    max-width: 100%;
    color: #333;
    background: #f0f0f0;
    align-self: flex-start;
    border-bottom-left-radius: 2px;
}

#chat-footer {
    padding: 10px;
    background: white;
    border-top: 1px solid #eee;
}

#chat-footer div {
    display: flex;
    gap: 5px;
    width: 100%;
    height: fit-content;
    background-clip: content-box;
    background-color: white;
    border-radius: 29px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    justify-content: center;
    flex-shrink: 0;
    padding: 2px;
}

#user-input {
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 15px 15px 24px;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    font-size: 1rem;
    background: transparent;
    font-family: inherit;
}

#send-button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin: 8px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: 0.1s;
    align-self: flex-end;
    display: flex;
    background: #007bff;
    color: white;
    align-items: center;
    justify-content: center;
}

#send-button:disabled {
    background: #ccc;
    cursor: default;
}

#send-button span {
    font-size: 20px;
    margin-left: 2px; /* visual adjustment */
}
