#controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    background: var(--pst-color-background, #ffffff);
    border: 1px solid var(--pst-color-border);
    border-radius: 20px;
    background-clip: content-box;
    z-index: 3001;
}
