<div id="controls">
    <control-button 
        buttonId="clear" 
        icon="refresh" 
        title="Clear Chat" 
        (action)="onClear()"
        ariaLabel="Clear the current conversation">
    </control-button>
    
    @if (isFullscreen) {
        <control-button 
            buttonId="minimize" 
            icon="collapse_content" 
            title="Minimize" 
            (action)="onMinimize()"
            ariaLabel="Minimize the chat window">
        </control-button>
    } @else {
        <control-button 
            buttonId="maximize" 
            icon="expand_content" 
            title="Maximize" 
            (action)="onMaximize()"
            ariaLabel="Maximize the chat window">
        </control-button>
    }
    
    <control-button 
        buttonId="close" 
        icon="close" 
        title="Close" 
        (action)="onClose()"
        ariaLabel="Close the chat window">
    </control-button>
</div>
